<!--
  Practicalli Custom 404 Page
-->


{% extends "main.html" %}

<!-- Content -->
{% block content %}
<h1>This is not the page you are looking for</h1>

<h3>
    Sorry we have arrived at a page that does not exist...
</h3>

<p>
    Practicalli Software Engineering is an alpha stage book and content is likely to move around.  Use the search in the page header to find matching content.
</p>

<p>
    <a href="https://practical.li/software-engineering">
        <img src="https://raw.githubusercontent.com/practicalli/graphic-design/live/logo/practicalli-logo-name.png"
            alt="Practicalli">
    </a>
</p>

</p>

{% endblock %}
